{% extends 'base.html' %}
{% block content %}

<div class="container">
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    <form action="{% url 'search' %}" class=" form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search Symbols" aria-label="Search" name="search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>

<br/>

{% if api %}
    {% if api == "ERROR..." %}
        There is a problem with your URL, please try again...
    {% else %}
        <h2>{{ api.companyName}}</h2>
            Symbol: {{ api.symbol }} <br/>
            Latest Price: ${{ api.latestPrice }} <br/>
            Change: {{ api.change }} <br/>
            Change Percentage: {{ api.changePercent }} <br/>
            Market Captital: {{ api.marketCap }} <br/><br/>
    {% endif %}
{% endif %}

{% if api %}
    {% if api == "ERROR..." %}
        There is a problem with your URL, please try again...
    {% else %}
        <h2>{{ api.companyName}}</h2>
            Symbol: {{ api.symbol }} <br/>
            Latest Price: ${{ api.latestPrice }} <br/>
            Change: {{ api.change }} <br/>
            Change Percentage: {{ api.changePercent }} <br/>
            Market Captital: {{ api.marketCap }} <br/><br/>
    {% endif %}
{% endif %}

{% endblock content %}