{% extends 'base.html' %}
{% block content %}
<script>
    function fnselect(ticker,lastprice){
        document.getElementById("selectedstock").value=ticker;
        document.getElementById("lastprice").value=lastprice;
    }
    function submitUserForm(){
        var selstock = document.getElementById("selectedstock").value;
        var actionval = document.getElementById("buy").checked;
        var actionval1 = document.getElementById("sell").checked;
        var stockqt = document.getElementById("stockquantity").value;
        if(selstock != "" && (actionval != false || actionval1 != false) && stockqt != "" & stockqt != 0){
            document.getElementById("stockForm").submit();
        }else{
            alert("Please Select Stock, Enter Quanity & Buy/Sell.")
        }
    }
</script>

    <div class="container">
        <h2>Stock Table</h2>
        <br/>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th> STOCK </th>
                    <th> LATEST PRICE </th>
                    <th> QUANTITY </th>
                    <th> VALUE </th>
                    <th> BUY/SELL </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <h6>AAPL</h6> </td>
                    <td> ${{ api.latestPrice }} </td>
                    <td> {{a_quantity}} </td>
                    <td> ${{ latvalue }} </td>
                    <td> <input type="radio" name="selectstock" onclick="fnselect('AAPL','{{ api.latestPrice }}')" /> </td>
                </tr>
                <tr>
                    <td> <h6>GOOG</h6> </td>
                    <td> ${{ api1.latestPrice }} </td>
                    <td> {{g_quantity}} </td>
                    <td> ${{ latvalue1 }} </td>
                    <td> <input type="radio" name="selectstock" onclick="fnselect('GOOG','{{ api1.latestPrice }}')" /> </td>
                </tr>
                <tr>
                    <td> <h6>TOTAL CASH </h6> </td>
                    <td> ${{ cashlatvalue }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <h4 style="color: red;"> {{ message }} </h4>
    
    <form id="stockForm" action="{% url 'user'%}" class= "form my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <div class="actionbox">
            <input id="selectedstock" type="hidden" name="stockname" />
            <input id="username" type="hidden" name="username" value='{{user.username}}'/>
            <input id="lastprice" type="hidden" name="lastprice" />
            
            <input id="stockquantity" class="mr-sm-2" type="number" placeholder="Quantity" name="quantity">
            <input type="radio" id="buy" name="action" value="buy">
                <label for="buy"> BUY </label>
            <input type="radio" id="sell" name="action" value="sell">
                <label for="sell"> SELL </label>
            <!--<button class="btn btn-outline-dark" type="submit" > Submit </button>-->
            <input class="btn btn-outline-dark" type="button" onclick="submitUserForm()" value="Submit">
        </div>
    </form>

    <form action="{% url 'user'%}" class= "form my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <div class="actionbox">
            <input id="username" type="hidden" name="username" value='{{user.username}}'/>
            <input type="hidden" name="action" value="reset">
            <button class="btn btn-outline-dark" type="submit" > Reset </button>
            
        </div>
    </form>
    

    

{% endblock content %}