h3 a { 
    color:black;
    padding-right: 7vw;
    font-size: larger;
    float: right;
}

.actionbox {
    display: inline-block;
    padding-left: 25vw;
    padding-top: 2vw;
    word-spacing: 5px;
}

.stockrow {
    align-items: center;
}
.stockcol {
    padding-left: 5vw;
}

